# testrun config values

title="30 days of postman"

# EDIT THESE VALUES TO MATCH YOUR POSTMAN COLLECTION/ENV
collid="20305249-f3371c87-e101-4cf5-a69c-b903880c2369"
local_envid="20305249-88150f19-155f-4e7d-9bff-138ec65ab136"
remote_envid=""

testfile="test-collection.json"
envfile="test-environment.json"
outfile="test-output.txt"